.navbar-nav > li > a {
    font-size: 18px; 
    margin-right: 20px;
}

.container {
    color: black;
}

body {
    background-image: url('image1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      color: white;
  }
  
  body#categories-page {
    background-image: none; 
  }

  body#about-page {
    background-image: none; 
  }

  body#contact-page {
    background-image: none; 
  }

  .form-container {
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin: 50px auto;
  }

  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container .radio-group label {
    display: inline-block;
    margin-right: 30px; 
}

.form-container .radio-group input[type="radio"] {
    display: inline-block;
}

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="tel"],
  .form-container select {
    width: calc(50% - 5px);
    display: inline-block;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333; 
  }

  .form-container .name-container {
    display: flex;
    justify-content: space-between;
  }
  
  

  .form-container select[type="tel"]#area-code {
    margin-right: 50px;
    width: calc(25% - 5px); 
  }

  .form-container select {
    width: 100%;
  }

  .form-container label input[type="radio"] {
    margin-right: 5px;
  }

  .form-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-button{
    margin-top: 15px;
    width: 150px;
  }

 